* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}

body {
    background-image: url(../assets/images/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* background-repeat: no-repeat; */
}

@media (max-width: 1023px) {
    body {
        background-image: url(../assets/images/wallpaperflare.com_wallpaper\ \(1\).jpg);
        background-size: auto ;
   
    }
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#board {
    width: 80vh;
    aspect-ratio: 1/1;
    background-image: url(../assets/images/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

#messageDiv{
    width: 50%;
    height: 30px;
    margin: 20px;
    background-color: wheat;
    text-align: center;
    color: rgb(151, 18, 18);
    border-radius: 20px;
    font-size: 1.25rem;
    
}

#grid {
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    padding: 20px;
}

#reset {
    width: 55px;
    aspect-ratio: 1/0.5;
    margin: 20px;
    /* background-color: rgb(44, 44, 44); */
    background-color: wheat;
    border: none;
    color: rgb(151, 18, 18);
    border-radius: 20px;
    font-size: 0.7rem;
    text-align: center;
    /* margin: auto; */
    padding: auto;
}

#reset:hover {
    border: 2px solid rgb(151, 18, 18);
}

.square {
    width: 12.5%;
    aspect-ratio: 1/1;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square:hover {
    border: 2px solid brown;
}

#square img {
    width: 80%;
    aspect-ratio: 1/1;
}
